.rotatedAxisText {
    text-anchor: start;
    transform: rotate(25deg);
}

.axisText {
    text-anchor: middle;
    transform: rotate(0deg);
}

.value-axis path {
    display: none;
}

.value-axis line {
  stroke: #d6d3d1;  
  stroke-width: 1.5px;
  shape-rendering: crispEdges;
}